
<ion-toolbar>
  <ion-title>user</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<img src="./assets/img/sweetscape_logo.png" style="width: 50%; height: 15%;  margin-left: 25%;"/>
<p><b>Login As:</b></p>
<ion-card>
  <ion-card-header>
    <ion-card-title></ion-card-title>
     <ion-button class="ion-button1"  fill="outline" color="danger"routerLink="/admin">Admin</ion-button>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title></ion-card-title>
     <ion-button class="ion-button2"  fill="outline" color="danger"routerLink="/staff">Staff</ion-button>
  </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
       <ion-button class="ion-button3"  fill="outline" color="danger"routerLink="/customer">Customer</ion-button>
    </ion-card-header>
    </ion-card>