ion-datetime{
    margin-bottom: 15%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 6%;
    border-radius: 5px;
    color:rgb(200, 100, 100);
    --background: #ebacae;
    font-size: 10px;
    border-style: solid;
    border-radius: white;
    
}
ion-item{
    color:rgb(248, 101, 101);
}
ion-list{
    color: black;
}
ion-label {
    --background:var(--background)
    color:white;
    font-weight: bolder;

}
span {
    color:aliceblue;
}
p {
    color:black;
    font-weight:bolder;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
ion-button {
    --background: #FD8A8A;
    --background-hover: #fd8dad;
    --background-activated: #f8a9a9;
    --background-focused: #e68080;
  
    --color: crimson;
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  .ion-buttons{
    color:crimson;
    --background: #FD8A8A;
    margin-top: 30px;
    margin-left: 120px;
    --border-radius: 2px; 
  }
  .ion-btn {
    color:crimson;
    --background: #FD8A8A;
    margin-top: 30px;
    margin-left: 28px;
    margin-bottom: 25px;
    --border-radius: 2px; 
  }



