<ion-header>
  <ion-toolbar color="danger">
      <ion-title>Book Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Select Date Appoint</p>
  <ion-datetime presentation="date" 
  [multiple]="true" 
  [value]="['2023-07-03', '2023-07-13', '2023-07-29']">
</ion-datetime>
<p>Choose available time slot</p>
<ion-button class="ion-button1" fill="outline">8:00 Am</ion-button>
<ion-button class="ion-button2" fill="outline">9:00 Am</ion-button>
<ion-button class="ion-button3" fill="outline">10:00 Am</ion-button>
<ion-button class="ion-button4" fill="outline">11:00 Am</ion-button>
<ion-button class="ion-button5" fill="outline">12:00 Pm</ion-button>
<ion-button class="ion-button6" fill="outline">1:00 Pm</ion-button>
<ion-button class="ion-button7" fill="outline">2:00 Pm</ion-button>
<ion-button class="ion-button8" fill="outline">3:00 Pm</ion-button>
<ion-button class="ion-button9" fill="outline">4:00 Pm</ion-button>
<ion-button class="ion-button10" fill="outline">5:00 Pm</ion-button>
<ion-button class="ion-button11" fill="outline">6:00 Pm</ion-button>
<ion-button class="ion-button12" fill="outline">7:00 Pm</ion-button>

<ion-item> <ion-label>Choose Branch:</ion-label></ion-item>

<ion-radio-group>
<ion-item> <ion-radio></ion-radio> <ion-label>Libjo Branch</ion-label></ion-item>
<ion-item> <ion-radio></ion-radio>  <ion-label>P. Genato St. Old Market Branch</ion-label></ion-item>
<ion-item> <ion-radio></ion-radio> <ion-label>San Pascual Branch</ion-label></ion-item>
</ion-radio-group>

<ion-button class="ion-buttons" fill="outline">Book Appointment</ion-button>  
<ion-button class="ion-btn" fill="outline">Back</ion-button>  
  </ion-content>  
