ion-item {
    font-size: 20px;
    color:rgb(88, 0, 74);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
ion-icon {
    color:rgb(93, 23, 93);
}
ion-title {
    font-size: 20px;
    color-scheme: rgba(250, 53, 86, 0.784);
}
ion-content {
    color: #FFC95F;
}