<ion-header >
  <ion-toolbar color="danger">
      <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
  <ion-card-header>
    <img src="./assets/img/service1.jpg">
  </ion-card-header>
  <ion-card-content>
   HAIR AND MAKE UP
  </ion-card-content>
  </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<ion-grid>
    <ion-row>
      <ion-col>
<ion-card>
  <ion-card-header>
    <img src="./assets/img/service2.jpg">
  </ion-card-header>
  <ion-card-content>
  COLOR BRAZILIAN
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
<ion-row>
  <ion-col  side="6">
<ion-card>
  <ion-card-header>
    <img src="./assets/img/service3.jpg">
  </ion-card-header>
  <ion-card-content>
  FASHION COLOR WITH BRAZILIAN
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col  side="6">
      <ion-card>
  <ion-card-header class="ion-no-padding">
    <img src="./assets/img/service5.jpg">
  </ion-card-header>
  <ion-card-content>
  NAIL EXTENSION WITH GEL POLISH
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/scissor.png">
  </ion-avatar>
  <ion-label>Scissor</ion-label>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/hair-styling.png">
  </ion-avatar>
  <ion-label>Hair Styling</ion-label>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/hair-dryer.png">
  </ion-avatar>
  <ion-label>Hair Dryer</ion-label>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/shampoo.png">
  </ion-avatar>
  <ion-label>Shampoo</ion-label>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/facial-massage.png">
  </ion-avatar>
  <ion-label>Spa/Massage</ion-label>
</ion-chip>

<ion-chip>
  <ion-avatar>
    <img src="./assets/img/application.png">
  </ion-avatar>
  <ion-label>More</ion-label>
</ion-chip>


<h1>Promo Packages</h1>
<img src="./assets/img/package1.jpg" style="width: 50%;">
<img src="./assets/img/package2.jpg" style="width: 50%; "> 
<img src="./assets/img/package3.jpg" style="width: 50%;">
<img src="./assets/img/package4.jpg" style="width: 50%;">
<ion-button class="ion-button" fill="outline">View all</ion-button>

</ion-content>