<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-wrapper">
    <img src="./assets/img/salon.png" />
        <h1>Book Your Favourite Style</h1>

        <p>The place where beauty and wellness meet safety and comfort.</p>
      <div>
        <ion-button class="ion-button" fill="outline" color="danger" routerLink="/signup">Get Started</ion-button> 
  </div>
</div>
</ion-content>
