<img src="./assets/img/sweetscape_logo.png" style="width: 80%; height: 20%; padding-left:75px; padding-top: 10%"/>
<ion-content>
  <div class="login-sectiom ion-padding">
    <div class="heading ion-padding"> 
      <h1>Customer</h1>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name=""></ion-icon>
        <div class="form-input">
          <ion-icon name=""></ion-icon>
          <ion-item>
            <ion-label position="floating">EMAIL:</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
      </div>
        <div class="form-input">
          <ion-icon name=""></ion-icon>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <p>Forgot password ?</p>
      </div>
    </div>
    <div>
   <ion-button class="ion-button" fill="solid"color="danger">Sign Up</ion-button>
     </div>  

      <ion-button class="sign-button"  fill="outline" color="danger"routerLink="/login">Login</ion-button>
   </div>
 